@model User
@{
    ViewData["Title"] = "Register Now";
}
<div class="row register-card">
    <div class="col-12 col-md-6">
        <div class="row">
            <img src="~/Images/signup.jpg" class="col-12" />
        </div>
    </div>
    <div class="col-12 col-md-6 reg-form">
        <span class="reg-head h4 pt-4">Registration</span>
        <form asp-controller="Users" method="post">
            <label asp-for="userName" class="mt-3 mb-0">Username</label>
            <input type="text" class="form-control" asp-for="userName" />
            <label asp-for="userMail" class="mt-3 mb-0">Email</label>
            <input asp-for="userMail" type="email" class="form-control" />
            <label asp-for="userPassword" class="mt-3 mb-0">Password</label>
            <input asp-for="userPassword" type="password" class="form-control" />
            <label asp-for="userPhone" class="mt-3 mb-0">Phone Number</label>
            <input asp-for="userPhone" type="text" class="form-control" />
            <input type="submit" value="Register" class="d-block mt-3" />
            <p class="text-start mt-2">
                <a href="#">You already have an account! Signin Now </a>
            </p>
        </form>
    </div>
</div>